* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 5px;
    padding-top: 20px;

    .header-up-part {
        position: relative;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;

        .logo {
            img {
                width: 149px;
            }
        }

        .search {
            position: relative;

            input {
                padding: 9px;
                width: 598px;
                border-radius: 3px;
                border: none;
                background-color: #F3F3F3;
            }

            i {
                position: absolute;
                right: 3%;
                top: 25%;
                color: #F27A1A;
            }
        }

        .morefeature {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;

            div {
                &:hover{
                    
                        .modalPart {
                            display: flex;
                        }
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: black;

                    i {
                        font-size: 18px;
                    }

                    &:hover {
                        color: #F27A1A;
                        transition: all .15s;
                    }
                }

                .goRegister:hover {
                    .registerModal {
                        display: block;

                    }
                }

                .modalPart {
                    display: none;
                    gap: 5px;
                    flex-direction: column;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    border: 1px solid grey;
                    padding: 20px;
                    border-radius: 10px;
                    position: absolute;
                    z-index: 9999;

                    button:nth-child(1) {
                        background-color: #F27A1A;
                        width: 100px;
                        border: none;
                        border-radius: 10px;
                        height: 30px;
                        color: white;
                        cursor: pointer;
                    }

                    button:nth-child(2) {
                        width: 100px;
                        border: 1px solid grey;
                        border-radius: 10px;
                        height: 30px;
                        color: black;
                        cursor: pointer;
                    }
                }
            }

            .menu {
                display: none;
            }

        }
    }

    .header-down-part {
        width: 80%;

        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                a {
                    color: black;

                    &:hover {
                        color: #F27A1A;
                        border-bottom: 1.7px solid #F27A1A;
                        padding-bottom: 5px;
                    }
                }

                span {
                    background-color: red;
                    padding: 2px;
                    border-radius: 7px;
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
}

#sponsors {
    padding-top: 30px;

    .carousel-sponsor {
        position: relative;
        display: flex;
        justify-content: center;
        height: 120px;

        .box {
            overflow: hidden;
            width: 80%;
            display: flex;
            gap: 30px;
            justify-content: space-evenly;

            .childDivs-sponsor {
                display: flex;
                flex-direction: column;
                width: 68px;
                height: 68px;

                img {
                    width: 68px;
                    height: 68px;
                    border-radius: 35px;

                    &:hover {
                        border: 1px solid #F27A1A;
                    }
                }

                a {
                    text-align: center;
                }
            }
        }

        .buttons {
            button {
                background-color: none;
                border: none;

                i {
                    font-size: 17px;
                    color: black;
                }
            }

            .leftArrow {
                position: absolute;
                left: 120px;
                top: 34px;
            }

            .rightArrow {
                position: absolute;
                right: 120px;
                top: 34px;
            }
        }
    }
}

#bests {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    .theBest {
        width: 80%;
        display: flex;
        justify-content: space-around;

        li:nth-child(1) {
            width: 280px;
            background-color: #EFFBF5;
            padding: 10px;
            text-align: center;

            a {
                color: #047438;
                font-weight: bold;
            }
        }

        li:nth-child(2) {
            width: 280px;
            background-color: #FEF4EC;
            padding: 10px;
            text-align: center;

            a {
                color: #BE4E11;
                font-weight: bold;
            }
        }

        li:nth-child(3) {
            width: 280px;
            background-color: #FEF0F2;
            padding: 10px;
            text-align: center;

            a {
                color: #B90640;
                font-weight: bold;
            }
        }

        li:nth-child(4) {
            width: 280px;
            background-color: #FFEEE6;
            padding: 10px;
            text-align: center;

            a {
                color: #de4c12;
                font-weight: bold;
            }
        }
    }
}

#populars {
    display: flex;
    flex-direction: column;
    align-items: center;

    .popularProducts {
        width: 80%;
        background-color: #dcdbdb;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 30px;
        gap: 20px;

        .products {
            width: 300px;

            .up-part-img {
                img {
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10px 10px 0px 0px;
                }

                p {
                    background: linear-gradient(270.43deg, #FFC000 0%, #F27A1A 100%);
                    text-align: center;
                    color: white;
                    font-weight: bold;
                }
            }

            .down-part-infos {
                background-color: white;
                border-radius: 0px 0px 10px 10px;
                padding-bottom: 15px;
                padding-left: 9px;

                p {
                    font-size: 15px;
                    color: black;
                    padding-top: 7px;
                }

                .price{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span:nth-child(1){
                        color: grey;
                        text-decoration: line-through;
                        font-weight: 100;
                    }
                    span:nth-child(2){
                        color: #BB0031;
                        font-weight: 900;
                    }
                }
                span {
                    color: red;
                    padding-top: 4px;
                }
                .sale{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    // height: 25px;
                    
                    i{
                        font-size: 14px;
                        color: red;
                    }
                    span{
                        color: red;
                    }
                }
                .ratings{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span{
                        color: black;
                    }
                    div{
                        i{
                            color: orange;
                            font-size: 12px;
                        }
                    }
                }
                .opportunity{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    .coupon{
                        display: flex;
                        align-items: center;
                        background-color: #fff4ec;
                        border-radius: 7px;
                        padding: 3px;
                        cursor: pointer;
                        span{
                            color: black;
                            font-size: 14px;
                        }
                    }
                    .buymorepayless{
                        background-color: #fff0f5;
                        display: flex;
                        align-items: center;
                        padding: 3px;
                        border-radius: 7px;
                        cursor: pointer;
                        span{
                            color: black;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: black;

    .footer-part {
        display: flex;
        justify-content: space-around;
        padding: 30px 0px;

        div {
            display: flex;
            flex-direction: column;

            h3 {
                color: white;
                padding-bottom: 18px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;

                li {
                    a {
                        font-size: 15px;
                        color: white;

                        &:hover {
                            transition: all .15s;
                            color: #F27A1A;
                        }
                    }
                }
            }

            .creditCards {
                display: flex;
                padding-top: 10px;
                gap: 20px;

                img {
                    width: 40px;
                }
            }

            .download {
                display: flex;
                gap: 20px;
                padding-top: 7px;

                img {
                    width: 150px;
                }
            }
        }

    }
}

@media (max-width: 992px) {
    .morefeature {
        display: none !important;

        .menu {
            display: block;
        }
    }

    .box {
        width: 100%;
    }

    .search {
        width: 200px;

        input {
            width: 200px;
        }
    }
}